.shortcode_single_product {
  text-align: center; }
  .shortcode_single_product .woocommerce ul.products h3 {
    text-align: center;
    padding: 0;
    font-size: 2rem; }
    .shortcode_single_product .woocommerce ul.products h3 a {
      color: #d4bd87; }
  .shortcode_single_product .woocommerce ul.products-grid {
    margin: 0; }
  .shortcode_single_product .product_after_shop_loop, .shortcode_single_product .product_thumbnail_wrapper {
    display: none; }

.product.woocommerce.add_to_cart_inline a {
  border-color: #4c4b49;
  color: #4c4b49; }

.entry-content .row:nth-child(2) {
  padding: 10px; }
.entry-content .row:nth-child(3) {
  padding-bottom: 10px; }
