.shortcode_single_product {
  text-align: center; }
  .shortcode_single_product .woocommerce ul.products h3 {
    text-align: center;
    padding: 0;
    font-size: 2rem; }
    .shortcode_single_product .woocommerce ul.products h3 a {
      color: #d4be85; }
  .shortcode_single_product .woocommerce ul.products-grid {
    margin: 0; }
  .shortcode_single_product .product_after_shop_loop, .shortcode_single_product .product_thumbnail_wrapper {
    display: none; }

.product.woocommerce.add_to_cart_inline .amount, .product.woocommerce.add_to_cart_inline a {
  border-color: #3E3530;
  color: #3E3530; }

.entry-content .row:nth-child(2) {
  padding: 10px; }
.entry-content .row:nth-child(3) {
  padding-bottom: 10px; }

.hp-main-heading h2 {
  font-size: 70px; }

.wpb_wrapper p.left-in-stock {
  text-align: center;
  width: 170px;
  margin: 0 auto;
  height: 50px;
  line-height: 45px;
  color: #d4be85 !important;
  border: 3px solid #d4be85;
  font-weight: bold; }
